@import 'theme.scss';

.header {
  box-shadow: $box-shadow
}

.deleteButton {
  background-color: red;
  border-color: red;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bookmarkEdit {
  // min-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}